body {
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
    font-family: sans-serif;
    color:#222;
}
.top-banner {
    background:#222 ;
    color:#fff;
    text-align: center;
    padding: 6px 0;
    font-size: 0,9 rem;
}
.top-banner strong {
    color:#fff176;
} 
header {
    display: flex;                
    align-items:center;          
    justify-content: center;
    padding: 10px 20px;
}

.logo {
    color: blue;
    font-size: 24px;
    font-weight: bold;
}

.nav-container {
    display: flex;
    flex-direction:column;        
    align-items: center;           
}
.main-nav ul {
    list-style: none;
    display: flex;
    flex-direction: row;           
    gap: 30px;     
    padding: 0;
    margin: 0;
}

.main-nav ul li a {
    text-decoration: none;
    color: black;
    font-weight: 500;
}

.ligne-sous-menu {
    width: 100%;
    max-width: 400px;
    height: 2px;
    background: black;
    margin-top: 6px;
}

.subtitle {
    text-align: center;
    margin-top: 6px;
    font-size: 15px;
}


.hero {
    background-color: #dfe3ff;
    margin-bottom: 10px;
    font-weight: 400;
    text-align: center;
}
.hero h1{
    font: size 1.5rem; 
    margin-bottom: 10px;
    font-weight: 400;
    

}
.hero h2 {
    font: size 1.8em; 
    margin-bottom: 700;
    font-weight: 20px;

}
.btn {
    display: inline-block;
    padding: 10px 20px;
    border: 1px solid #555;
    text-decoration: none;
    color: #333;
    font-weight: 600;
    background: white;
    border-radius: 4px;
    transition: backround 0.2s;
} 
.btn :hover {
    background: #333;
    color: white;
}
.pub-full img {
    width: 100%;
    height: auto;
    display: block;
}
.ligne-categorie {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 8px;
    width: 100%;
}

.ligne-categorie::before,
.ligne-categorie::after {
    content: "";
    flex: 1;               
    height: 1px;           
    background: black;     
    margin: 0 8px;         
}

.ligne-categorie span {
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

    
    

